@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{

--color0: #F1F3F4;
--color1: #CFD9DD; 	/* Main Primary color */
--color2: #4C6579;
--color3: #20394C;
--color4: #152833;
--color5: #051825;
--color6: #8dabc4;
--color7: #030f16;
}

* { margin: 0;
    padding: 0; }

a {
    text-decoration: none;
}

html, body {
    height: 100%;
  }

.language_selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.language_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: var(--color3);
    height: 250px;
    width: 190px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px;
}

.language_box h1 {
    color: var(--color0);
    background-color: var(--color7);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    line-height: 60px;
    border-radius: 5px 5px 0px 0px;
}

.language_box a {
    color: #F1F3F4;
    font-size: 1.1em;
    line-height: 40px;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-top: 5px;
    width: 130px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
    padding-left: 5px;
}

.language_box a:hover {
    width: 150px;
    color: var(--color6);
    background-color: var(--color4);
}

.language_img {
    width: 20px;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color7);
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color5);
  }  

header {
    background: linear-gradient(var(--color7) 0 60%, var(--color5));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.menu_header {
    display: flex;
    justify-content: space-around;
    height: 20px;
    padding-right: 25px;
    color: #F1F3F4;
}

.menu_header a{
    text-decoration: none;
    color: #F1F3F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 15px 10px;
    line-height: 30px;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-top: 5px;
    width: max-content;
}

.menu_header a:hover {
    width: max-content;
    color: var(--color6);
    background-color: var(--color5);
}

.menu_header li {
    list-style: none;
    position: relative;
    text-decoration: none;
    color: #F1F3F4;
    display: flex;
}

.menu_header li ul {
    position: absolute;
    top:35px;
    right: 10px;
    display:none;
}

.menu_header li:hover ul, .menu_header li.over ul {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}

/*.menu_header li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }*/

.titulo_header {
    margin-top: 25px;
    margin-left: 25px;
    color: #F1F3F4;
}

.titulo_header2 {
    width: 100px;
    justify-content: center;
    margin-top: 25px;
    margin-left: 25px;
}

body {
    background-color: #051825;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    /*background-color: var(--color2);*/
    background: linear-gradient(to right, var(--color5) 0 30%, var(--color4));
    height: 300px;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    /*box-shadow: 2px 2px 2px 0.5px var(--color0);*/
    align-items: center;
}

.sobre_mim{
    display: flex;
    justify-content: center;
    width: 90%;
}

#musica_background {
    display: flex;
    height: 300px;
    border-radius: 20px;
    opacity: 50%;
    margin-left: 190px;
}

.conteudo_sobremim {
    color: var(--color0);
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;

}

.conteudo_sobremim h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.descricao_sobre {
    font-size: 1.3em;
    line-height: 1.5em;
}

.descricao_sobre img{
    margin: 30px 6px -80px 6px;
}

.descricao_sobre img:hover{
    transform: scale(1.1);
}

.section_projetos {
    width: 95%;
}

.projetos {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(var(--color7) 0 30%, var(--color4));
    gap: 20px;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
}

/*.projeto-item-container {
    border: 1px solid var(--color7);
}*/

.projetos_main_title {
    color: var(--color0);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.projetos_each_title {
    color: var(--color0);
    padding: 10px;
    height: 50px;
}

.projetos p {
    color: #F1F3F4;
}

.projetos_img_link{
    display: flex;
    padding-top: 10px;
    height: 180px;
    justify-content: center;
}

.projetos_img_link img{
    border-radius: 5px;
}

#pagina_projetos_title {
    color: var(--color0);
    margin-bottom: 20px;
}

.pagina_projetos_p {
    color: var(--color0);
    margin: 15px 0px;
    font-size: 1.1em;
    margin-bottom: 30px;
}

#link_mais_projetos {
    display: flex;
    justify-content: end;
    background-color: var(--color4);
    height: 35px;
    color: var(--color0);
    font-weight: bold;
    padding-right: 15px;
    align-items: center;   
}


audio {
    margin-bottom: 20px;
}

.musicas_main_title {
    color: var(--color0);
    margin-bottom: 20px;
}

.musicas_item_title {
    color: var(--color1);
    margin-bottom: 10px;
    margin-top: 20px;
}

#musicas_p {
    color: var(--color0);
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
}

.music_container {
    background-color: var(--color7);
    padding: 35px;
    border-radius: 10px;
}

#gatinha {
    height: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030f16;
    color: #F1F3F4;
    width: 100%;
    height: 25px;
    margin-top: 20px;
}
/* Display Celular */

@media (max-width: 560px) {

    header {
        align-items: center;
        margin-bottom: 20px;
    }

    .titulo_header2 {
        width: 80px;
        justify-content: center;
        margin-top: 0;
        margin-left: 10px;
    }

    .titulo_header {
        font-size: 0.9em;
        width: 80px;
        margin-top: 0;
        margin-left: 10px;
        margin-right: 0;
    }

    .menu_header {
        width: 70%;
        font-size: 0.8em;
        padding: 0;
        align-items: center;
        }
    
    .menu_header a {
        font-size: 0.9em;
        height: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .container{
        width: 80%;
        height: 160px;
        margin-bottom: 80px;
    }

    .descricao_sobre {
        font-size: 1em;
        text-align: center;
    }

    .section_exception {
        display: none;
    }

    .sobre_mim {
        flex-direction: column;
    }

    .conteudo_sobremim {
        width: 100%;
    }

    .descricao_sobre img{
        margin: 30px 6px 0px 6px;
    }
    
    #gatinha {
        height: 200px;
    }

    #musica_background {
        width: 100%;
        height: 150px;
        display: none;
    }

    .section_projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projetos_main_title {
        width: 100%;
    }
    .projetos {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #link_mais_projetos {
        padding-right: 10px;
    }

    .projetos_img_link {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-top: 0;
    }
    .projetos_img_link a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projetos_img_link picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projetos_each_title {
        display: flex;
        justify-content: center;
    }

    .pagina_projetos_p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1em;
    }

    #pagina_projetos_title {
        font-size: 1.5em;
    }

    #mensagem_github {
        font-size: 0.8em;
    }

    #musicas_p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 0.9em;
    }

    .musicas_main_title {
        font-size: 1.5em;
    }

    footer {

    height: 25px;
    margin-top: 20px;
    }
}

/* Display Tablet */

@media (max-width: 1050px) {

    header {
        align-items: center;
        margin-bottom: 20px;
    }

    
    .titulo_header2 {
        width: 100px;
        justify-content: center;
        margin-top: 0;
        margin-left: 10px;
    }

    .titulo_header {
        font-size: 0.9em;
        width: 100px;
        margin-top: 0;
        margin-left: 10px;
    }

    .projetos_img_link a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projetos_img_link picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #musica_background {
        height: 25%;
        margin-left: 50px;
    }
}

@media (max-width: 995px) {
    header {
        align-items: center;
        margin-bottom: 20px;
    }

    
    .titulo_header2 {
        width: 100px;
        justify-content: center;
        margin-top: 0;
        margin-left: 10px;
    }

    .titulo_header {
        font-size: 0.9em;
        width: 100px;
        margin-top: 0;
        margin-left: 10px;
    }
    .projetos {
        grid-template-columns: 1fr 1fr;
    }

    #musica_background {
        height: 20%;
        margin-left: 50px;
    }
}

@media (max-width: 680px) {

    header {
        align-items: center;
        margin-bottom: 20px;
    }

    
    .titulo_header2 {
        width: 100px;
        justify-content: center;
        margin-top: 0;
        margin-left: 10px;
    }

    .titulo_header {
        font-size: 0.9em;
        width: 100px;
        margin-top: 0;
        margin-left: 10px;
    }
    .projetos_img_link img{
        width: 300px;
    }

    .projetos {
        grid-template-columns: 1fr;
    }
    
}